.deck {
  display: flex;
  justify-content: space-evenly;
}
.cards {
  display: flex;
  transform: scale(0.9);
  flex-shrink: 1;
}
.cards app-uno-card {
  transition: 0.2s;
}
.cards app-uno-card:not(:first-child) {
  margin-left: -5rem;
}
.cards app-uno-card:hover {
  cursor: pointer;
  transform: translateY(-2rem);
}
.cards app-uno-card:hover ~ app-uno-card {
  transform: translateX(5rem);
}
.table {
  display: flex;
  justify-content: center;
}
.table-stack {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0.8);
  margin-left: 100px;
}
.table-stack app-uno-card:not(:first-child) {
  margin-left: -8rem;
}
.table-stack app-uno-card:last-child {
  box-shadow: 0px 15px 57px -12px rgba(0, 0, 0, 0.48);
  -webkit-box-shadow: 0px 15px 57px -12px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: 0px 15px 57px -12px rgba(0, 0, 0, 0.48);
}
.uno-deck {
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.38));
  cursor: pointer;
  transition: 0.1s;
}
.uno-deck:hover {
  transform: translateY(-0.5rem);
  filter: grayscale(0.5);
}
