Welcome to UNO:
<div class="header">
  Direction: {{ direction | json }}<br />
  Currently Player: {{ currentPlayer?.name }}<br />
  loggedInUser: {{ loggedInUser?.name }}
</div>
<hr />
<div class="table">
  Table: Current Card: {{ currentCard | json }}<br />
  <hr />
  <div style="float: right">
    <button (click)="onDrawOne(true)">Draw One</button>
  </div>
  Old Table Cards:
  <p *ngFor="let card of tableCards">{{ card | json }}</p>
</div>
<hr />
<div class="deck">
  <div class="half" style="float: left">
    Linga Player Cards(1st):
    <span *ngIf="loggedInUser.id === currentPlayer.id">Current Player</span>
    <p *ngFor="let card of loggedInUser.deck; let i = index">
      {{ card | json }}
      <!-- Disable when
            1. If the player is not the currently playing player
            2. If the card and currentCard have different color and value -->
      <button
        [disabled]="
          !(loggedInUser?.id === currentPlayer?.id) ||
          (card?.color &&
            currentCard?.color !== card?.color &&
            currentCard?.value !== card?.value)
        "
        (click)="onPlayingCard(card, i)"
      >
        Play
      </button>
    </p>
    <div>
      <button
        (click)="moveToNextPlayer()"
        *ngIf="showPass && loggedInUser.id === currentPlayer.id"
      >
        PASS
      </button>
    </div>
  </div>
  <div class="half" style="float: right">
    Faraaz Player Cards(2nd):
    <span *ngIf="players[1].id === currentPlayer.id">Current Player</span>
    <p *ngFor="let card of players[1].deck; let i = index">
      {{ card | json }}
      <button
        [disabled]="
          !(players[1].id === currentPlayer?.id) ||
          (currentCard?.color !== card?.color &&
            currentCard?.value !== card?.value)
        "
        (click)="onPlayingCard(card, i)"
      >
        Play
      </button>
    </p>
    <div>
      <button
        (click)="moveToNextPlayer()"
        *ngIf="showPass && players[1].id === currentPlayer.id"
      >
        PASS
      </button>
    </div>
  </div>
</div>
<!-- 1. First card should not be (special card) -->
<!-- 2. Disable other player's card and show notification on playing non matching card -->
<!-- 3. Move enum/interfaces to shared folder -->
